@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Color Palette */
:root {
  --primary-color: #dfeedf;
  --secondary-color: #9ad39a;
  --dark-color: #4d754d;
  --accent-color: #70c470;
  --neutral-color: #54a254;
  --input-color: #dfeedf;
  --text-color: #4d754d;
  --title-color: #dfeedf; /* Default text color */
}

[data-theme="light"] {
  --input-color: #ffffff;
  --text-color: #4d754d;
  --primary-color: #9ad39a;
  --secondary-color: #9ad39a;
  --dark-color: #dfeedf;
  --accent-color: #70c470;
  --neutral-color: #54a254;
  --title-color: #4d754d;
}

/* Global Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--dark-color);
  color: var(--primary-color);
}

/* Container for the entire app */
.app-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  grid-template-areas:
    "header header"
    "sidebar main";
}

/* Header and Sidebar Styling */
.app-header, .app-sidebar {
  padding: 15px;
  box-sizing: border-box;
  gap: 20px;
}

.app-header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  gap: 20px;
  background-color: var(--dark-color);
  box-sizing: border-box;
}

.app-sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: var(--primary-color);
  align-items: stretch;
}

/* Main content area styling */
.app-main {
  grid-area: main;
  padding: 15px 15px 15px 5px;
  overflow-y: auto;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

button {
  padding: 10px 15px;
  margin: 5px;
  font-size: 0.9rem;
  background-color: var(--neutral-color);
  color: var(--input-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete {
  padding: 6px 9px;
  margin: 3px;
  border-radius: 55%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.done {
  padding: 6px 9px;
  margin: 3px;
  border-radius: 55%;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--accent-color);
}

button:active {
  transform: scale(0.98);
}

/* Common Component Styling */
.clock, .google-calendar, .spotify-player, .pomodoro, .todo-list, .notepad {
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.clock, .google-calendar {
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center; /* Center content if needed */
}

.clock {
  flex: 0 0 354px; /* Fixed width, you can adjust this value */
}

.google-calendar {
  flex: 1; /* Take up the remaining space */
  min-width: 0; /* Prevent overflow issues */
}

.pomodoro, .todo-list, .notepad {
  background-color: var(--dark-color);
  color: var(--title-color);
}

.todo-list, .notepad {
  flex: 1 1 auto;
}

.notepad {
  overflow-y: auto;
}

/* Center align h2 elements */
.notepad h3, .todo-list h3 {
  text-align: center;
}

/* Pomodoro Component Styling */
.pomodoro {
  text-align: center;
}

.pomodoro h1 {
  font-size: 2.5rem;
  margin: 5px 0;
}

.pomodoro h2 {
  margin: 20px 0 5px;
}

.inputs {
  margin: 15px 0;
}

.inputs label {
  font-size: 1rem;
  display: block;
  margin-bottom: 5px;
}

.inputs input {
  background-color: var(--input-color);
  color: var(--text-color);
  width: 60px;
  padding: 7px;
  font-size: 1rem;
  margin: 5px;
  border-radius: 8px;
  border: none;
  text-align: center;
}

/* Textarea Styling */
textarea, .text {
  font-family: 'Roboto', sans-serif;
  border: 1px solid var(--accent-color);
  background-color: var(--input-color);
  color: var(--text-color);
  border-radius: 8px;
  padding: 10px;
  white-space: pre-wrap; /* Preserve line breaks */
  overflow-y: auto;
}

textarea {
  width: 98%;
  height: 30%;
}

/* Media Queries for responsiveness */

/* Responsive Styles */
@media (max-width: 1200px) {
  button {
    padding: 8px 12px;
    font-size: 0.8rem;
  }
  
  .app-container {
    grid-template-columns: 1fr 3fr;
  }
  
  .clock, .spotify-player {
    flex: 0 0 300px; /* Smaller width */
  }
  
  .app-header, .app-sidebar, .app-main {
    padding: 10px;
  }
}

@media (max-width: 900px) {
  .app-container {
    grid-template-columns: 1fr 2fr;
  }
  
  .clock, .spotify-player {
    flex: 0 0 250px;
  }
  
  .app-header {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 600px) {
  .app-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "sidebar";
  }
  
  .clock, .spotify-player {
    flex: 0 0 200px;
  }
  
  .app-sidebar, .app-main {
    padding: 10px;
  }
}